USE [UsaCarriers]
GO
/****** Object:  Table [dbo].[Aircraft]    Script Date: 2020-04-21 8:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aircraft](
	[AircraftID] [int] NOT NULL,
	[AIRCRAFT_GROUP] [nvarchar](50) NOT NULL,
	[AIRCRAFT_TYPE] [int] NOT NULL,
	[AIRCRAFT_CONFIG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Aircraft] PRIMARY KEY CLUSTERED 
(
	[AircraftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airport]    Script Date: 2020-04-21 8:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airport](
	[AirportID] [int] NOT NULL,
	[AIRPORT_SEQ_ID] [int] NOT NULL,
	[CITY_MARKET_ID] [int] NOT NULL,
	[IATACODE] [nvarchar](50) NOT NULL,
	[CITY_NAME] [nvarchar](50) NOT NULL,
	[StateID] [int] NOT NULL,
 CONSTRAINT [PK_Airport] PRIMARY KEY CLUSTERED 
(
	[AirportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrier]    Script Date: 2020-04-21 8:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrier](
	[CarrierID] [int] NOT NULL,
	[UNIQUE_CARRIER] [nvarchar](50) NOT NULL,
	[AIRLINE_ID] [int] NOT NULL,
	[UNIQUE_CARRIER_NAME] [nvarchar](100) NOT NULL,
	[UNIQUE_CARRIER_ENTITY] [nvarchar](50) NOT NULL,
	[REGION] [nvarchar](50) NOT NULL,
	[CARRIER] [nvarchar](50) NOT NULL,
	[CARRIER_NAME] [nvarchar](100) NOT NULL,
	[CARRIER_GROUP] [nvarchar](50) NOT NULL,
	[CARRIER_GROUP_NEW] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Carrier] PRIMARY KEY CLUSTERED 
(
	[CarrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flightdate]    Script Date: 2020-04-21 8:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flightdate](
	[FlightdateID] [int] NOT NULL,
	[YEAR] [int] NOT NULL,
	[QUARTER] [nvarchar](50) NOT NULL,
	[MONTH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Flightdate] PRIMARY KEY CLUSTERED 
(
	[FlightdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 2020-04-21 8:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateID] [int] NOT NULL,
	[STATE_ABR] [nvarchar](50) NOT NULL,
	[STATE_FIPS] [nvarchar](50) NOT NULL,
	[STATE_NM] [nvarchar](50) NOT NULL,
	[WAC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Summary]    Script Date: 2020-04-21 8:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Summary](
	[SummaryID] [nvarchar](50) NOT NULL,
	[DEPARTURES_SCHEDULED] [nvarchar](50) NOT NULL,
	[DEPARTURES_PERFORMED] [nvarchar](50) NOT NULL,
	[PAYLOAD] [int] NOT NULL,
	[SEATS] [int] NOT NULL,
	[PASSENGERS] [int] NOT NULL,
	[FREIGHT] [int] NOT NULL,
	[MAIL] [int] NOT NULL,
	[DISTANCE] [int] NOT NULL,
	[DISTANCE_GROUP] [nvarchar](50) NOT NULL,
	[CLASS] [nvarchar](50) NOT NULL,
	[RAMP_TO_RAMP] [int] NOT NULL,
	[AIR_TIME] [int] NOT NULL,
	[CarrierID] [int] NOT NULL,
	[ORIGIN_AirportID] [int] NOT NULL,
	[DEST_AirportID] [int] NOT NULL,
	[AircraftID] [int] NOT NULL,
	[FlightdateID] [int] NOT NULL,
 CONSTRAINT [PK_Summary] PRIMARY KEY CLUSTERED 
(
	[SummaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Airport]  WITH CHECK ADD  CONSTRAINT [FK_Airport_State] FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([StateID])
GO
ALTER TABLE [dbo].[Airport] CHECK CONSTRAINT [FK_Airport_State]
GO
ALTER TABLE [dbo].[Summary]  WITH CHECK ADD  CONSTRAINT [FK_Summary_Aircraft] FOREIGN KEY([AircraftID])
REFERENCES [dbo].[Aircraft] ([AircraftID])
GO
ALTER TABLE [dbo].[Summary] CHECK CONSTRAINT [FK_Summary_Aircraft]
GO
ALTER TABLE [dbo].[Summary]  WITH CHECK ADD  CONSTRAINT [FK_Summary_Airport_DEST] FOREIGN KEY([DEST_AirportID])
REFERENCES [dbo].[Airport] ([AirportID])
GO
ALTER TABLE [dbo].[Summary] CHECK CONSTRAINT [FK_Summary_Airport_DEST]
GO
ALTER TABLE [dbo].[Summary]  WITH CHECK ADD  CONSTRAINT [FK_Summary_Airport_ORIGIN] FOREIGN KEY([ORIGIN_AirportID])
REFERENCES [dbo].[Airport] ([AirportID])
GO
ALTER TABLE [dbo].[Summary] CHECK CONSTRAINT [FK_Summary_Airport_ORIGIN]
GO
ALTER TABLE [dbo].[Summary]  WITH CHECK ADD  CONSTRAINT [FK_Summary_Carrier] FOREIGN KEY([CarrierID])
REFERENCES [dbo].[Carrier] ([CarrierID])
GO
ALTER TABLE [dbo].[Summary] CHECK CONSTRAINT [FK_Summary_Carrier]
GO
ALTER TABLE [dbo].[Summary]  WITH CHECK ADD  CONSTRAINT [FK_Summary_Flightdate] FOREIGN KEY([FlightdateID])
REFERENCES [dbo].[Flightdate] ([FlightdateID])
GO
ALTER TABLE [dbo].[Summary] CHECK CONSTRAINT [FK_Summary_Flightdate]
GO
